# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data
data/raw/*
data/projected/*
data/rasters/*
data/outputs/*
!data/raw/.gitkeep
!data/projected/.gitkeep
!data/rasters/.gitkeep
!data/outputs/.gitkeep

# IDEs
.vscode/
.idea/
